/* テキスト用CSS */
*{
  font-family:"ＭＳ Ｐゴシック",sans-serif;
}

.center-text {
    text-align: center;
    flex-grow: 1;
}

.left-text {
  text-align: left;
}

.right-text {
    text-align: right;
}

.bold-text {
  font-weight: bold;
}

h1 {
  padding: 1rem 2rem;
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  cursor: pointer;
}

h2.h2-display{
  border-bottom: 2px dashed ;
  padding-bottom: 5px;
}

.font-one-point-two {
  font-size: 1.2rem;
}

.font-one-point-five {
  font-size: 1.5rem;
}

.text-correct {
  color: #0f5132 !important;
}

.text-incorrect {
  color: #FF0000 !important;
}

/* ボタン用CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin: 20px auto auto auto;
}

.btn--radius, a.btn--radius, button.btn--radius{
  border-radius:100vh;
}

/* ラジオボタン用CSS */
input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
}

.choice-radio-label {
  display: flex; /* ブロックレベル要素化する */
  line-height: 45px; /* 行の高さを指定する */
  height: 50px; /* ボックスの高さを指定する */
  padding-left: 20px; /* ボックス内左側の余白を指定する */
  padding-right: 10px; /* ボックス内御右側の余白を指定する */
  border: 2px solid ;/* ボックスの境界線を実線で指定する */
  border-radius: 25px; /* 角丸を指定する */
  font-size: 1.2em;
  justify-content: space-between; /* テキストを右寄せするための設定 */
  align-items: center; /* 垂直方向の中央揃え */
}

.label-correct {
  color: #ff1c1c !important;
  background-color: #e7d1d1 !important;
}

.label-incorrect {
  color: #1100ff !important;
  background-color: #a4e1ff !important;
}

/* 画像用CSS */
.album {
  width: 80px;
  height: 80px;
  transition: filter 0.3s ease;
}

.darkened {
  filter: brightness(0.3);
}

/* 画面表示用CSS */
.margin-top-20 {
  margin: 20px auto auto auto;
}

.margin-bottom-100 {
  margin: auto auto 100px auto;
}

.visibility-hidden{
  visibility: hidden;
}

/* 紙吹雪用CSS */
.confetti canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  /* 幅を全体に広げる */
  height: 100%; /* 高さを全体に広げる */
  pointer-events: none; /* 他の要素の操作を妨げないようにする */
}