/* テキスト用CSS */
*{
  font-family:"ＭＳ Ｐゴシック",sans-serif;
  transition: all 0.3s;
}

.center-text {
    text-align: center;
    flex-grow: 1;
}

.left-text {
  text-align: left;
  white-space: nowrap;       /* 改行させない */
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-text {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold-text {
  font-weight: bold;
}

h1 {
  padding: 1rem 2rem;
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  cursor: pointer;
}

h2.h2-display{
  border-bottom: 2px dashed ;
  padding-bottom: 5px;
}

.font-one-point-two {
  font-size: 1.2rem;
}

.font-one-point-five {
  font-size: 1.5rem;
}

.text-correct {
  color: #28a745 !important;
}

.text-incorrect {
  color: #FF0000 !important;
}

/* ボタン用CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin: 20px auto auto auto;
}

.btn--radius, a.btn--radius, button.btn--radius{
  border-radius:100vh;
}

/* ラジオボタン用CSS */
input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
}

.choice-radio-label {
  display: flex; /* ブロックレベル要素化する */
  line-height: 45px; /* 行の高さを指定する */
  height: 50px; /* ボックスの高さを指定する */
  padding-left: 20px; /* ボックス内左側の余白を指定する */
  padding-right: 10px; /* ボックス内御右側の余白を指定する */
  border: 2px solid ;/* ボックスの境界線を実線で指定する */
  border-radius: 25px; /* 角丸を指定する */
  font-size: 1.2em;
  justify-content: space-between; /* テキストを右寄せするための設定 */
  align-items: center; /* 垂直方向の中央揃え */
}

.label-correct {
  color: #ff1c1c !important;
  background-color: #e7d1d1 !important;
}

.label-incorrect {
  color: #1100ff !important;
  background-color: #a4e1ff !important;
}

/* 画像用CSS */
.album {
  width: 90px;
  height: 90px;
  transition: filter 0.3s ease;
  border-radius: 10px;
}

.darkened {
  filter: brightness(0.3);
}

/* 画面表示用CSS */
.margin-top-20 {
  margin: 20px auto auto auto;
}

.margin-bottom-100 {
  margin: auto auto 100px auto;
}

.visibility-hidden{
  visibility: hidden;
}

/* 紙吹雪用CSS */
.confetti canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  /* 幅を全体に広げる */
  height: 100%; /* 高さを全体に広げる */
  pointer-events: none; /* 他の要素の操作を妨げないようにする */
}

/* 画面最大幅を設定 */
.confetti {
  max-width: 768px;         /* タブレットグレイ程度の最大幅 */
  margin: 0 auto;           /* 中央揃え */
}

/* スピナー */
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #e0e0e0;      /* 全体の薄いグレー */
  border-top: 5px solid #888888;  /* 回転部分：濃いグレー */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* モード選択 */
.quiz-mode-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  margin: 20px 0;
}

.quizModeRadio {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 30px;
  background-color: #bbbbbb;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quizModeRadio:hover {
  background-color: #f7f7f7;
}
